/* Experience.css */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#exp {
  background-color: rgb(30, 30, 30);
  color: white;
  margin-top: 0px;
  padding-top: 2em;
}

.timeline {
  padding: 2em 0;
}

.timeline li {
  position: relative;
  list-style-type: none;
  width: 0.5em; /* Adjust as needed */
  background-color: white;
  margin: 0 auto;
  padding-top: 5vw; /* Adjust as needed */
}

.timeline li::after {
  background: white;
  content: '';
  width: 2vw; /* Adjust as needed */
  height: 2vw; /* Adjust as needed */
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.timeline li div {
  position: relative;
  width: 30em; /* Adjust as needed */
  padding: 1em;
  border-radius: 1em; /* Adjust as needed */
  bottom: 0;
  background: rgba(255, 255, 255, 0.28);
}
.timeline li p {
    text-align: left;
  }

.timeline li:nth-child(odd) div {
  left: 3em; /* Adjust as needed */
}

.timeline li:nth-child(even) div {
    left: 3em;  /* Adjust as needed */
}

.logo {
  width: 10vh; /* Adjust as needed */
  height: 50%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

time {
  font-weight: lighter;
  font-size: 1em; /* Adjust as needed */
  display: block;
  margin-bottom: 1em; /* Adjust as needed */
}

.timeline li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;

}

.timeline li:nth-child(odd) div {
  transform: translate3d(10em, 0, 0); /* Adjust as needed */
}

.timeline li:nth-child(even) div {
  transform: translate3d(-60em, 0, 0); /* Adjust as needed */
}

.timeline li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
.timeline li div #tools{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.timeline li div #tools ul{
   background-color: rgb(255, 255, 255);
   border-radius: 10em;
   color: black;
   padding: 0.5em;
   padding-top: 0.2em;
   padding-bottom: 0.2em;
   margin-top:1em ;
}
.timeline li div #tools ul:hover{
    background-color: rgb(82, 152, 141);
    color: white;
    
}

@media screen {
  .timeline li div {
    width: 40em; /* Adjust as needed */
  }
  .timeline li:nth-child(even) div {
    left: -43em
  }
}
