/* Header.css */
.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.header-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(315deg, #00796b, #007f90, #54caaf);
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;

}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}

.header-content {
  z-index: 1;
}

.header-text h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.header-links {
  margin-top: 1em;
  font-size: 2em;
}

.header-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
}

.header-text {
  color: white;
  text-align: center;
  font-size: 2em;
}
