/* Navbar.css */

.navbar {
  padding: 1.5vh;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 100;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  font-size: 2vw;
}

.navbar-links {
  display: flex;

}

.navbar-link {
  margin-right: 3em;
  color: #000000;
  text-decoration: none;
  font-size: 2.5vh;
}

.navbar-link:before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.navbar-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-link:before {
  content: " ";
  display: block;
  position: absolute;
  inset: 0 0 0 0;
  background: rgb(255, 255, 255);
  z-index: -1;
  transition: transform 0.3s ease;
}

.navbar-link {
  position: relative;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

html {
  scroll-behavior: smooth;
}
